/* Use your own code or past solution for Great Idea Web Page CSS here! */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
	font-family: 'Titillium Web', sans-serif;
	display: inline-block;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
/*.container0 {
	display: flex;
	flexbox: wrap;
	justify-content: center;
	text-align: center;
	margin: 10px;
	padding: 10px;
	width: 2000px;
	height: 300px;
}
.nav {
	color: gray;
	margin: 30px;
	padding: 30px;
	text-align: space-between;
	width: 400px;
	height: 100px;
}
.logo {
	text-align: center;
	margin: 20px;
	padding: 20px;
	width: 300px;
	height: 100px;
}
head title {
	font-size: 90%;
	text-align: center;
	padding:20px;
	margin: 10px;
}
*/
header a {
	color: gray;
	margin: 20px;
	padding: 20px;
	text-align: center;
	display: inline-block;
}
header img {
	margin: 20px;
	padding: 20px;
	text-align: center;
	display: inline-block;
}

.container {
	padding: 10px;
	margin: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
	width: 1250px;
}
.box {
	text-align: center;
}
.slogan {
	padding: 50px;
	margin: 50px;	
	height: 310px;
	width: 500px;
	font-size: 500%;
}
.img {
	padding: 20px;
	margin: 30px;
	height: 450px;
	width: 500px;
}

.container2 {
	display: flex;
	flex-wrap: wrap;
	margin: 5px;
	padding: 5px;
	justify-content: space-around;
}
.features {
	width: 600px;
	margin: 10px;
	padding: 10px;
	text-align: left;
}
.about {
	width: 600px;
	margin: 10px;
	padding: 10px;
	text-align: left;
}

.container3 {
	display: flex;
	justify-content: center;
	width: 1200px;
	margin: 5px;
	padding: 5px;
}

.container4 {
	display: flex;
	flex-wrap: wrap;
	margin: 5px;
	padding: 5px;
	justify-content: space-around;
}
.services {
	width: 400px;
	text-align: left;
	padding: 10px;
	margin: 10px;
}
.product {
	width: 400px;
    text-align: left;
	padding: 10px;
	margin: 10px;
}
.vision {
	width: 400px;
    text-align: left;
	padding: 10px;
	margin: 10px;
}

.middle-img {
    padding: 20px;
    margin: 20px;
    width: 97%;
}

hr {
	display: block;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
    overflow: hidden;
    border-style: inset;
	border-width: 2px;
}

.contact {
	margin: 20px;
	padding: 15px;
}

footer {
	text-align: center;
	margin: 10px;
	padding: 20px;
}

